---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Global Metadata -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<title>{title}</title>
		<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

		<script type="importmap">
		  {
			"imports": {
			  "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
			  "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
			}
		  }
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss">
	@font-face {
		font-family: 'Syne';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/Syne-VariableFont_wght.ttf');
	}

	@font-face {
		font-family: 'Space Grotesk';
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/SpaceGrotesk-Medium.ttf');
	}

	@font-face {
		font-family: 'Space Grotesk';
		font-style: normal;
		font-weight: 100;
		src: url('/fonts/SpaceGrotesk-Light.ttf');
	}

	@font-face {
		font-family: 'Space Grotesk';
		font-style: bold;
		src: url('/fonts/SpaceGrotesk-Bold.ttf');
	}

	* {
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family: 'Syne';
	}
</style>
